# Build Artifacts & Binaries
*.o
*.a
*.exe
build/
out/

# Runtime Data & Logs
*.saves
*.log
.ps_history

# Language Server & Build Metadata
compile_commands.json
.clangd/
.cache/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
