# Build Artifacts & Binaries
*.o
*.a
*.exe

# Runtime Data & Logs
*.saves
*.log
.ps_history

# Language Server & Build Metadata
compile_commands.json
.clangd/
.cache/

# VS Code (Ignore user state, keep shared settings & tasks)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
